.main-content {
  height: 100%;

  .breadcrumb {
    padding: 15px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .content-box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    overflow: auto;
  }
}