.editor-content {
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .title-box {
    position: absolute;
  }

  .editor-box {
    height: 100%;
    padding-top: 100px;
  }
}