.editor-content {
  height: 100%;

  .title-box {
    width: 100%;

    .operation-box {
      display: flex;
      width: 100%;

      .title-input {
        flex-grow: 1;
      }

      .article-operation {
        flex-shrink: 0;
        flex-grow: 0;
        margin-left: 20px;

        .operation-button:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .editor-box {
    height: calc(100% - 92px);
    margin-top: 20px;
  }
}