.blog-list-content {
  .operation-button:first-child {
    margin-right: 10px;
  }
  .search-tool {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;

    .search-input {
      width: 300px;
      margin-right: 20px;
    }
  }

  .table-pagination {
    display: flex;
    justify-content: end;
    margin: 20px;
  }
}